.add-food-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
}
input {
  padding: 10px;
  margin-bottom: 10px;
}
button {
  border: none;
  outline: none;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  border-radius: 14px;
  text-align: center;
  color: white;
}

.butt {
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  border-radius: 14px;
  text-align: center;
  background-color: grey;
  color: white;
}

.navbar {
  padding: 20px;
}
.blog-details img {
  width: 300px;
  height: 300px;
  /* display: block; */
}
.blog-details .item {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.blog-details .item img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.blog-details .item .food-name {
  font-weight: bold;
  font-size: 15px;
  width: 10%;
}

.blog-details .item .food-price {
  color: red;
  font-weight: bold;
  font-size: 15px;
}
ul {
  list-style-type: none;
}

.logo {
  width: 50%;
  height: 70px;
  display: flex;
  justify-content: center;
}

.main-back {
  width: 100%;
  height: 100%;
}
.main-back .justback {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/menu_back.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

/* main menu */
.main-menu-details {
  /* background-color: white; */
  max-width: 550px;
  margin: auto;
  display: grid;
  padding-left: 130px;
  grid-template-columns: repeat(2, 1fr);

  /* grid-gap: 10px;
  gap: 0.5rem; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-menu-details .item {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.main-menu-details .item img {
  width: 65px;
  height: 65px;
  border-radius: 10px;
}

.main-menu-details .item .food-name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 10px;
  width: 50%;
  color: #64750f;
}

.main-menu-details .item .food-price {
  color: red;
  font-weight: bold;
  font-size: 13px;
}

/* media queries */

/* Media Query for Mobile Devices (up to 767px) */
@media only screen and (max-width: 767px) {
  .main-menu-details .item img {
    width: 45px;
    height: 45px;
  }

  .main-menu-details .item .food-price {
    color: red;
    font-weight: bold;
    font-size: 12px;
  }

  .main-menu-details {
    max-width: 600px;
    margin: auto;
    display: grid;
    padding-left: 120px;
    grid-template-columns: repeat(2, 1fr);

    /* grid-gap: 10px;
    gap: 0.5rem; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .main-menu-details .item .food-name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 10px;
    width: 100%;
    color: #64750f;
  }
  /* call , address button */
  .call-address-button {
    position: fixed;
    top: 650px;
    left: 500px;
  }

  .call-address-button img {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .main-menu-details .item img {
    width: 45px;
    height: 45px;
  }

  .main-menu-details .item .food-price {
    color: red;
    font-weight: bold;
    font-size: 12px;
  }

  .main-menu-details {
    max-width: 600px;
    margin: auto;
    display: grid;
    padding-left: 100px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .main-menu-details .item .food-name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 10px;
    width: 100%;
    color: #64750f;
  }

  /* call , address button */
  .call-address-button {
    position: fixed;
    top: 600px;
    left: 500px;
  }

  .call-address-button img {
    width: 40px;
    height: 40px;
  }
}

#contact-address-button img {
  width: 40px;
  height: 40px;
}

/* call , address button */
#contact-address-button {
  position: fixed;
  bottom: 20px; /* Default position for larger screens */
  right: 50%; /* Center horizontally */
  transform: translateX(50%); /* Center horizontally */
}

#contact-info {
  display: none;
  position: fixed;
  bottom: 50px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  background-color: #64750f;
  padding: 10px;
  border: 1px solid #ccc;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  /* Adjust the button position for mobile/small screens */
  #contact-address-button {
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
  }
}
