{% extends "kitchen/base.html"%} 
{% load crispy_forms_tags %} 
{% block title %}
Add food item {% endblock %} 
{% block content%}
<div class="add-food-item-container">
  <div id="text-center view_menu">
    <a href="{% url 'menu_preview' %}" class="butt">View Preview Menu</a>
  </div>
  <h3 class="text-center">Add to food menu</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">{{ form|crispy }}</div>
    <div class="form-group">
      <button type="submit" class="butt">Add</button>
    </div>
  </form>
</div>

{% endblock %}
